@charset "utf-8";
html, body {
margin: 3px;
padding: 3px;
border: 3px;
color: #000;
background: #f2f2f2;
}
html, body, p, th, td, dd, dt {
font: 1em Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6, li {
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
h1 { font-size: 4em; }
h2 { font-size: 2em; }
h3 { font-size: 1.2em ; }
h4 { font-size: 1.0em; }
h5 { font-size: 0.9em; }
h6 { font-size: 0.8em; }